* {
  margin: 0;
}
.App {
  background-color: #132233;
}
.App_head {
  background-color: #121b25;
  padding: 20px;
  object-fit: contain; /* keep logo same size and not strech the image*/
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.App_headImg {
  object-fit: contain;
}
.App_signUp {
  display: flex;
  flex-direction: column;
}

.App_posts {
  padding: 20px;
}
