* {
  margin: 0;
}
.App {
  background-color: rgb(46, 45, 37);
  /* background-color: #292826; */
}
.App_head {
  position: sticky;
  top: 0;
  z-index: 1;
  /* background-color: #121b25; */
  background-color: #292826;

  padding: 20px;
  object-fit: contain; /* keep logo same size and not strech the image*/
  border-bottom: 1px solid yellowgreen;
  display: flex;
  justify-content: space-between;
}

.App_headImg {
  object-fit: contain;
}
.App_signUp {
  display: flex;
  flex-direction: column;
}

.App_posts {
  /* //padding: 20px; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 40%;

  display: flex;
  padding: 10px 300px;
}

.nav_logo {
  /* position: fixed; */
  left: 20px;
  width: 80px;
  /* object-fit: contain; */
}
.Button {
  color: yellowgreen;
}

.App_postRight {
  margin-left: 10px;
  display: flex;
  /* justify-content: space-evenly; */
  /* justify-content: left; */
  flex-wrap: wrap;
  /* padding: 100px; */
}
.imgUpload {
  position: fixed;
  /* position: relative; */
  /* top: 50px; */
  top: 55%;
  right: 0;
  margin-right: 50px;
  width: 20%;
  /* background-color: #121b25; */
  background-color: #292826;

  border-bottom: 1px solid yellowgreen;
  text-align: center;
  padding: 2px;
  /* display: flex; */
  /* justify-content: center; */
}
.modal {
  background-color: #292826;
}
