.imageupload {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  /* background-color: #132233; */
  background-color: #292826;

  border-top: yellowgreen;
  color: aliceblue;
}
.imageupload_progress {
  width: 100%;
}
